
	div#testElement {
	    display: none;
	    height: 100px;
	    width: 100px;
	    z-index: 5;
	    position: absolute;
	    top: 100px;
	    left: 100px;
	    color: white;
	}
	body{
		width: 100%!important;
		margin:0!important;
	}
	video{
		background-color: #FFFFFF;
		/*width: auto!important;
		margin:0!important;
		margin-left: -70%!important;*/
	}
	.gameover{
		 background-image: url("images.jpg");
		 position: fixed;
	    /* Full height */
	    height: 100%; 
	    width: 100%;
	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.inicio{
		margin-left: auto;
		margin-right: auto;
		top: 100px;
	}
	.id1{
		display: block;
	}
	.matar{
		border-radius: 25px;
		width: 30px;
	}
	#arjsDebugUIContainer{
		display: none;
	}
	.izquierda{
		width: 2%;
		height: 100%;
		
	}
	.derecha{
		width: 2%;
		height: 100%;
		position: fixed;
	    left: 98%;
	    top: 9%;	
	}
	.arriba{
		width: 100%;	
		height: 1%;
		position: fixed;
	    top: 9%;
	}
	#colorr{
		background-color: #00ff5875;
	}
	#vacios{
		 position: absolute; 
		 left:0px; 
		 right:0px; 
		 bottom:0px;
		
         width: 70px;
         background-color: #7d5e5d00;
         border-radius: 10%;
         text-align: center;
         color: white;
         font-size: 28px;
         margin-bottom: 10px;
         margin-left: 10px;	
         color: black;
         font-weight: 500;
	}
	.vidas{
		position: absolute; 
		 left:80%; 
		 right:0px; 
		 bottom:0px;
		 height: 50px;
         width: 60px;
         
         border-radius: 50%;
         text-align: center;
         color: white;
         font-size: 28px;
         margin-bottom: 10px;
         margin-left: 10px;	
         
	}
	.menu{
		z-index: 10;
		position: absolute; 
		 left:42%; 
		 right:0px; 
		 bottom:0px;
		 height: 60px;
         width: 60px;
         border-radius: 50%;
         text-align: center;
         font-size: 28px;
         margin-bottom: 10px;	
         box-shadow: 0 0 20px #4f9;
         background-image: url('https://image.flaticon.com/icons/png/512/414/414171.png');
         background-size: cover;
	}
	.varios{
		 position: absolute; 
		 left:16%; 
		 right:0px; 
		 bottom:16%;
		 height: 80px;
         width: 70%;
         z-index: 20;
		display: none;   
	}
	.jugadores{
		width: 100%;
		height:100%;
		z-index: 100;
		background-image: url('https://image.freepik.com/vector-gratis/fondo-comic-moderno-rayo_1035-8002.jpg');
		background-size: cover;
		background-position: center;

	}	
	.equipos{
		padding-top: 15%;
		padding-bottom: 15%;
		width: 80%;
		height: 10px;
		margin-right:auto;
		margin-left: auto;
	}
	.opciones{
		position: relative; 
		 margin-left: 10px;
		 right:0px; 
		 bottom:0px;
		 height: 60px;
         width: 60px;
         border-radius: 50%;
         text-align: center;
         font-size: 28px;
         margin-bottom: 10px;	
         box-shadow: 0 0 20px #4f9;
         background-size: cover;
	}
	.busc{
		background-image: url('https://image.flaticon.com/icons/png/512/414/414171.png');
	}
	.secu{
		background-image: url('../bombaroja.png');
	}
	.prim{
		background-image: url('../dinamita2.jpg');
	}
	.a-enter-vr-button{
		display: none;
	}
	@media only screen and (max-width: 600px){
		.inicio{
			width: 60%!important;
		}
	} 
	#vecinos{
		width: 18px; 
		margin-left: 20px; 
		margin-top: 5px;
		 box-shadow: 0 0 20px #4f9;
		 text-align: center;
		 position: absolute;
		 font-size: 18px;
    	font-weight: 500
	}